.container {
  margin: 10px;
}

.wikiheader {
  margin-left: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 1px;
  border-color:#cecece;
}

#header-row {
  height: 75px;
}
.portal_list {

}
.main_nav {
  float: left;
  width: 150px;
  text-align: center;
  background-color: #f9f9f9;
}

.main_nav ul {
  list-style-type: none;
  padding: 0px;
}

.main_nav img {
  display: block;
  margin: auto;
}

.body_content {
  padding-left: 20px;
  margin-left: 170px;
}

#nav {
  height: 42px;
}

h3 {
  margin: 0px;
}

h5 {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color:#cecece;
}

#boxes h3 {
  border-style: solid;
  color: black;
  border-width: 1px;
  background-color: #cef2e0;
}

#boxesblue h3 {
  border-style: solid;
  color: black;
  border-width: 1px;
  background-color: #cedff2;
}
