.main_nav {
  float: left;
  width: 150px;
  text-align: center;

}

.main_nav ul {
  list-style-type: none;
}

.main_nav img {
  display: block;
  margin: auto;
}

.body_content {
  padding-left: 10px;
  margin-left: 150px;
}
