.container {
  margin: 10px;
  pa
}

.wikiheader {
  width: 50%;
}

.portal_list {
  float: right;
}
.main_nav {
  float: left;
  width: 150px;
  text-align: center;
  background-color: #f9f9f9;
}

.main_nav ul {
  list-style-type: none;
  padding: 0px;
}

.main_nav img {
  display: block;
  margin: auto;
}

.body_content {
  padding-left: 20px;
  margin-left: 150px;
}

#nav {
  height: 42px;
}

h5 {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
